<h1 class="title is-1">About</h1>

<p>
  Hi! My name is Matthew Major and this site is dedicated to Magic the Gathering. It has a list of <span class="has-text-weight-bold"><%= Card.count %></span> cards, <span class="has-text-weight-bold"><%= MagicSet.count %></span> sets and <span class="has-text-weight-bold"><%= Artist.count %></span> artists.
</p>
<p>
  This data for this website was accumluated by MTG JSON and the Scryfall API, and is also supported by the Scryfall API via HTTP requests.
</p>
<p>
  I hope you enjoy your time here, happy searching!
</p>