<h1 class="title is-1">About</h1>

<p>
  Hi, if you have questions or would like to contact me directly, feel free to give us a call at 204-555-1234 or email us at majorcollection@majorcollections.ca
</p>
<p>
  You could also drop by, we are located <br>
  43 Card St<br>
  Winnipeg, MB
</p>