<h1 class="title is-1">Products</h1>

<%= paginate @products %>

<%= @products.in_groups_of(4, false) do | products | %>
  <div class="row is-flex is-flex-direction-row is-justify-content-space-evenly">
    <% products.each do | product | %>
      <%= render product, locals: [product: product]%>
    <% end %>
  </div>
<% end %>

<%= paginate @products %>